.id1_id2 {
    border: 1px solid black;
}
.id3_id4 {
    margin-top: 20px;
    border: 1px solid black;
}
.id5_id6 {
    margin-top: 20px;
    border: 1px solid black;
}
.id7_id8 {
    margin-top: 20px;
    border: 1px solid black;
}
.id9_id10 {
    margin-top: 20px;
    border: 1px solid black;
}
.allId {
    border: 1px solid black;
}